<a href="https://colab.research.google.com/github/chandan-m-chandu/Basic-Machine-Learning-Projects-/blob/main/Exp1A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn import datasets
import pandas as pd
print('THIS IS THE PROGRAM TO ACCESS IRIS DATASET')
iris=datasets.load_iris()
print(" To print the description of Iris Dataset")
print(iris.DESCR)
print('\n\n\n\n')
# df will fold dataset as a table
df=pd.DataFrame(
iris.data,
columns=iris.feature_names
)
#labels are assigned to df[target] table or array
df['target']=pd.Series(
iris.target
)
df['target_names']=df['target'].apply(lambda y:iris.target_names[y])
print('To display First 5 samples')
# df.head(5) will return the first five samples in the dataset
print(df.head(5))
print('To display randomply 5 samples')
#df.sample(5) will return randomly five samples from the dataset
print(df.sample(5))

# Train Test Split Ratio
from sklearn.model_selection import train_test_split
df_train,df_test=train_test_split(df,test_size=0.3) # For 70: 30 Split
print('The total number of samples in the dataset = ',df.shape[0])
print('The number of samples in training set = ',df_train.shape[0])
print('The number of samples in testing set = ',df_test.shape[0])
print('The first five samples of training set')
print(df_train.head(5))
print('\n\nThe first five samples of testing set')
print(df_test.head(5))

THIS IS THE PROGRAM TO ACCESS IRIS DATASET
 To print the description of Iris Dataset
.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...






To display First 5 samples
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target target_names
0       0       setosa
1       0       setosa
2       0       setosa
3       0       setosa
4       0       setosa
To display randomply 5 samples
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
17                 5.1               3.5                1.4               0.3
136                6.3               3.4                5.6               2.4
64                 5.6               2.9                3.6               1.3
149                5.9               3.0                5.1               1.8
95                 5.7               3.0                4.2               1.2

     target target_names
17        0       setosa
136       2    virginica
64        1   versicolor
149       2    virginica
95        1   versicolor
The total number of samples in the dataset =  150
The number of samples in training set =  105
The number of samples in testing set =  45
The first five samples of training set
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
123                6.3               2.7                4.9               1.8
76                 6.8               2.8                4.8               1.4
109                7.2               3.6                6.1               2.5
35                 5.0               3.2                1.2               0.2
88                 5.6               3.0                4.1               1.3

     target target_names
123       2    virginica
76        1   versicolor
109       2    virginica
35        0       setosa
88        1   versicolor


The first five samples of testing set
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
16                 5.4               3.9                1.3               0.4
79                 5.7               2.6                3.5               1.0
99                 5.7               2.8                4.1               1.3
149                5.9               3.0                5.1               1.8
2                  4.7               3.2                1.3               0.2

     target target_names
16        0       setosa
79        1   versicolor
99        1   versicolor
149       2    virginica
2         0       setosa

**-------------------------Line wise analysis-----------------------------**

In [ ]:
from sklearn import datasets
import pandas as pd

**datasets**: Contains preloaded datasets, including the Iris dataset, from the sklearn library.
**pandas**: Used for data manipulation and analysis.

In [ ]:
iris = datasets.load_iris()

Loads the Iris dataset into the **variable** iris. It includes features, labels, and a description.

In [ ]:
print(iris.DESCR)           #Displays a detailed description of the dataset, including features, labels, and data distribution.
df = pd.DataFrame(iris.data, columns=iris.feature_names)  #Converts the dataset's feature data into a Pandas DataFrame. Each feature (e.g., sepal length) becomes a column.

In [ ]:
df['target'] = pd.Series(iris.target)
df['target_names'] = df['target'].apply(lambda y: iris.target_names[y])

**target**: Adds the target column to the DataFrame, representing the species labels (0, 1, 2).
**target_names**: Maps numerical targets to their corresponding species names using apply() and iris.target_names.

In [ ]:
print(df.head(5))       #Displays the first 5 rows of the DataFrame.
print(df.sample(5))     #Displays the random 5 rows of the DataFrame.

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target target_names
0       0       setosa
1       0       setosa
2       0       setosa
3       0       setosa
4       0       setosa
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
79                 5.7               2.6                3.5               1.0
55                 5.7               2.8                4.5               1.3
105                7.6               3.0                6.6               2.1
4                  5.0               3.6                1.4               0.2
64                 5.6               2.9                3.6               1.3

     target target_names
79        1   versicolor
55        1   versicolor
105       2    virginica
4         0       setosa
64        1   versicolor

In [ ]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(df, test_size=0.3)

Splits the DataFrame into training (70%) and testing (30%) subsets using **train_test_split**.

In [ ]:
print('The total number of samples in the dataset = ', df.shape[0])
print('The number of samples in training set = ', df_train.shape[0])
print('The number of samples in testing set = ', df_test.shape[0])

The total number of samples in the dataset =  150
The number of samples in training set =  105
The number of samples in testing set =  45

Prints the total number of **samples** and their **split** between training and testing datasets.

In [ ]:
print(df_train.head(5))   #Displays the first 5 rows from the training datasets.
#print(df_test.head(5))    #Displays the first 5 rows from the testing datasets.

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
20                 5.4               3.4                1.7               0.2
73                 6.1               2.8                4.7               1.2
58                 6.6               2.9                4.6               1.3
96                 5.7               2.9                4.2               1.3
126                6.2               2.8                4.8               1.8

     target target_names
20        0       setosa
73        1   versicolor
58        1   versicolor
96        1   versicolor
126       2    virginica

In [ ]:
print(df_test.head(5))    #Displays the first 5 rows from the testing datasets.

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
134                6.1               2.6                5.6               1.4
63                 6.1               2.9                4.7               1.4
27                 5.2               3.5                1.5               0.2
108                6.7               2.5                5.8               1.8
67                 5.8               2.7                4.1               1.0

     target target_names
134       2    virginica
63        1   versicolor
27        0       setosa
108       2    virginica
67        1   versicolor